{% extends "_layout.html" %}

{% block title %}
    Home page
{% endblock %}

{% block main %}
    <h1>Home page</h1>
    <p>
        {% if session.get('username') %}
            Welcome {{ session.get('username') }}!
        {% else %}
            <a href="{{ url_for('show_registration_form') }}">Register</a>
        {% endif %}
    </p>
    <p>
        <a href="{{ url_for('search_products') }}">Search for products</a>
    </p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock main %}
