{% extends '_layout.html' %}

{% block title %}
    Register
{% endblock %}

{% block css %}
    <link rel='stylesheet' href='{{ url_for('static', filename='css/register.css') }}'>
{% endblock %}

{% block main %}
    <fieldset>
    <legend>Registration form:</legend>
        <form action='{{ url_for('register_user') }}' method='post'>
            <label for='username'>Username</label>
            <input type='text' id='username' name='username' required>
            {% if errors %}
                <ul class='errors'>
                    {% for error in errors %}
                        {% if error.field == 'username' %}
                            <li>{{ error.msg }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}

            <label for='firstname'>Firstname</label>
            <input type='text' id='firstname' name='firstname' required>
            {% if errors %}
                <ul class='errors'>
                    {% for error in errors %}
                        {% if error.field == 'firstname' %}
                            <li>{{ error.msg }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}

            <label for='lastname'>Lastname</label>
            <input type='text' id='lastname' name='lastname' required>
            {% if errors %}
                <ul class='errors'>
                    {% for error in errors %}
                        {% if error.field == 'lastname' %}
                            <li>{{ error.msg }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}

            <button type='submit'>Register</button>
        </form>
    </fieldset>
{% endblock main %}
